<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>insurancemoto.com - Save Up To $712 On Your Car Insurance</title>
  <meta name="description" content="Get affordable auto insurance quotes for your vehicle. Compare multiple providers and save up to $712 annually on your car insurance with insurancemoto.com">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="keywords" content="car insurance, auto insurance, insurance quotes, affordable insurance, vehicle coverage, insurance savings">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="insurancemoto.com - Compare & Save On Car Insurance">
  <meta property="og:description" content="Get instant quotes from top providers and save hundreds on your auto insurance. Compare now and save!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://insurancemoto.com">
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NWLMMLF');</script>
  <!-- End Google Tag Manager -->
  
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="styles/vendor.542aeb51.css">
  <link rel="stylesheet" href="styles/main.be61061b.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body ng-app="wisdomFormFlows" data-ng-cloak data-ng-strict-di>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWLMMLF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!--[if lte IE 11]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <div class="large-bg"></div>
  <div class="phone-bar" data-ng-show="phoneNumber" data-phone-bar>
    <div class="container">
      <p>Call now for a free quote: <a href="tel:+18005551234" class="phone-number"><span class="phone-number-display">+1 (800) 555-1234</span></a></p>
    </div>
  </div>
  
  <div class="body-bg">
    <header class="form-header">
      <div class="col-xs-12">
        <h1><img class="img-responsive" src="images/logo.2e9ee83c.png" alt="insurancemoto.com"></h1>
        <div class="progress-panel" data-progress-bar>
          <p>Drivers in <span data-ng-if="city">{{city}}</span><span data-ng-if="!city">in your area</span> can save up to $712<super>*</super> per year!</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-ng-style="{width: progress }">
              <span class="sr-only">{{progress}}% Complete</span>
            </div>
          </div>
          <div class="progress-info">
            <p>Progress: {{progress}}</p>
          </div>
        </div>
      </div>
    </header>
    
    <section class="form-container">
      <div class="center-block form-wrap" data-ng-view data-page-unload data-check-model autoscroll>
        <!-- Car Selection Form - Full Form Data Included -->
        <div class="form-step">
          <h2>What is the model of your Chevrolet?</h2>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="silverado">
                Silverado
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="malibu">
                Malibu
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="equinox">
                Equinox
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="tahoe">
                Tahoe
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="traverse">
                Traverse
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="suburban">
                Suburban
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="camaro">
                Camaro
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="corvette">
                Corvette
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="blazer">
                Blazer
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="trailblazer">
                Trailblazer
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="impala">
                Impala
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="bolt">
                Bolt EV
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="colorado">
                Colorado
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="spark">
                Spark
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chevroletModel" value="other">
                Other Chevrolet Model
              </label>
            </div>
          </div>
          
          <div class="form-group">
            <button class="btn btn-primary btn-block">Continue</button>
          </div>

          <!-- Hidden form elements that would be shown in other steps -->
          <div style="display: none;">
            <!-- Car Make Selection -->
            <select class="form-control">
              <option value="">Select Make</option>
              <option value="toyota">Toyota</option>
              <option value="honda">Honda</option>
              <option value="ford">Ford</option>
              <option value="chevrolet" selected>Chevrolet</option>
              <option value="nissan">Nissan</option>
              <option value="bmw">BMW</option>
              <option value="mercedes">Mercedes-Benz</option>
              <option value="audi">Audi</option>
              <option value="hyundai">Hyundai</option>
              <option value="kia">Kia</option>
              <option value="subaru">Subaru</option>
              <option value="lexus">Lexus</option>
              <option value="dodge">Dodge</option>
              <option value="jeep">Jeep</option>
              <option value="gmc">GMC</option>
              <option value="tesla">Tesla</option>
            </select>
            
            <!-- Car Year -->
            <select class="form-control">
              <option value="">Select Year</option>
              <option value="2025">2025</option>
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="older">2014 or older</option>
            </select>
            
            <!-- Driver Info -->
            <div class="form-group">
              <label for="driverAge">Driver Age</label>
              <select id="driverAge" class="form-control">
                <option value="">Select Age</option>
                <option value="18-24">18-24</option>
                <option value="25-35">25-35</option>
                <option value="36-45">36-45</option>
                <option value="46-55">46-55</option>
                <option value="56-65">56-65</option>
                <option value="66+">66+</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="driverGender">Gender</label>
              <select id="driverGender" class="form-control">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <option value="prefer-not">Prefer not to say</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="maritalStatus">Marital Status</label>
              <select id="maritalStatus" class="form-control">
                <option value="">Select Status</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="widowed">Widowed</option>
              </select>
            </div>
            
            <!-- Contact Info -->
            <div class="form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" id="zipCode" class="form-control" placeholder="Enter your zip code">
            </div>
            
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="Enter your email address">
            </div>
            
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" class="form-control" placeholder="Enter your phone number">
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="form-footer">
      <div class="container">
        <div class="footer-copy-wrap text-center">
          <div class="logos col-xs-12 hidden-xs hidden-sm">
            <h3>Featured Partners</h3>
            <div class="center-block">
              <img class="" src="images/logo-1.c0c4b64b.png" alt="Insurance Partner 1">
              <img class="" src="images/logo-2.359e3ac8.png" alt="Insurance Partner 2">
              <img class="" src="images/logo-3.1521a025.png" alt="Insurance Partner 3">
              <img class="" src="images/logo-4.669ffcdc.png" alt="Insurance Partner 4">
              <img class="" src="images/logo-5.859261a9.png" alt="Insurance Partner 5">
            </div>
          </div>
          <div class="col-xs-12">
            <p><a data-toggle="modal" data-target="#privacy-modal">Privacy Policy | Terms of Use</a>&nbsp;|&nbsp;<a href="https://privacyportal-cdn.onetrust.com/dsarwebform/00ede9b7-3b4b-4836-9372-861b5ef121a1/690f54ad-b07e-4f22-8133-5c3dece73e69.html" target="_blank">Do Not Sell My Info</a></p>
            <p>For savings information - <a href="https://cars.usnews.com/cars-trucks/car-insurance/cheapest-car-insurance-companies" target="_blank">https://cars.usnews.com/cars-trucks/car-insurance/cheapest-car-insurance-companies</a></p>
            <p>&copy; 2025 insurancemoto.com. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  
  <div class="fixed-phone-bar" data-fixed-phone-bar data-ng-hide="closeBar" data-ng-if="phoneNumber">
    <p>Call for a free quote: <a href="tel:+18005551234" class="phone-number"><span class="phone-number-display">+1 (800) 555-1234</span></a></p>
  </div>
    
  <!-- bower:js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.min.js"></script>
  <!-- endbower -->
  
  <script src="scripts/vendor.0bbd2c93.js"></script>
  <script src="scripts/scripts.fc246f34.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" async></script>
  
  <!-- Dynamic Phone Number Script -->
  <script type="text/javascript">
    function parse_number(string) {
      return `+${string.slice(0,-10)} (${string.slice(-10,-7)}) ${string.slice(-7,-4)}- ${string.slice(-4)}`;
    }
    var page_name = 'insurancemoto';
    $.ajax({
      url: `https://docs.google.com/a/google.com/spreadsheets/d/1-ZnnJREUB3qt54FlkEgkGOaaG5_Q5QtOOg0Bh9eLmV8/gviz/tq?tq=select%20*%20where%20A%20%3D%20%27${page_name}%27`,
      type: "get",
      success: function(data) {
        var number = JSON.parse(data.split('(')[1].split(')')[0])['table']['rows'][0]['c'][1]['v'];
        console.log(`number is: ${number}`);
        $('.phone-number').attr('href', `tel:+${number}`);
        $(".phone-number-display").text(parse_number(`${number}`));
      }
    });
  </script>
  
\
  
  <div data-ng-include="'views/flow-views/spinner.html'"></div>
  <iframe id="retarget-pixel" src="https://quotes.insurancemoto.com/shared/retargeting-pixels.php" width="1" height="1"></iframe>
  
  <!-- Structured Data for SEO -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "insurancemoto.com",
      "url": "https://www.insurancemoto.com",
      "description": "Compare and save on auto insurance quotes from top providers.",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.insurancemoto.com/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "InsuranceAgency",
      "name": "insurancemoto.com",
      "image": "images/logo.2e9ee83c.png",
      "url": "https://www.insurancemoto.com",
      "priceRange": "$$",
      "telephone": "See website for current number",
      "description": "Find affordable auto insurance quotes from top-rated providers. Save up to $712 annually on your car insurance.",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Insurance City",
        "addressRegion": "IC",
        "postalCode": "10001",
        "addressCountry": "US"
      },
      "sameAs": [
        "https://www.facebook.com/insurancemoto",
        "https://twitter.com/insautoworld"
      ]
    }
  </script>
</body>
</html>